.target-sign {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 9;

  div {
    display: flex;
    justify-content: center;
    ion-button::part(native) {
      padding: 0;
    }
    ion-icon {
      width: 4em;
      aspect-ratio: 1 / 1;
      height: auto;
    }
  }
}
