.board-container {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  perspective: 333px;
  .board {
    transform-style: preserve-3d;
    transition: all 200ms;
    transform: rotateX(0deg) translateY(0px);
  }
}
.MyDrawing,
.TheirDrawing,
.MyFusion,
.TheirFusion {
  .board {
    transform: rotateX(30deg) translateY(-160px);
  }
}
