.card-fusion {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .card {
    position: absolute;
    top: 50vh;
    opacity: 0;
  }
  &.playing {
    .card:nth-child(1) {
      left: 50%;
      animation-delay: 0s;
      animation: spiralFromLeft 2s linear;
    }
    .card:nth-child(2) {
      right: 50%;
      animation-delay: 1s;
      animation: spiralFromRight 2s linear;
    }
    .card:nth-child(3) {
      opacity: 0;
    }
  }
  &.presentingBoth {
    .card:nth-child(1) {
      left: 20%;
      animation-delay: 0s;
      animation: tada 2s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation-delay: 1s;
      animation: tada 2s linear;
      opacity: 1;
    }
    .card:nth-child(3) {
      opacity: 0;
    }
  }
  &.presentingResult {
    .card:nth-child(1),
    .card:nth-child(2) {
      opacity: 0;
    }
    .card:nth-child(3) {
      left: 45%;
      animation-delay: 1s;
      animation: bounce 2s linear;
      opacity: 1;
    }
  }
}

@keyframes spiralFromRight {
  100% {
    transform: rotate(720deg) translate(0) rotate(-360deg);
    opacity: 0;
  }
  90% {
    transform: rotate(calc(720deg - 72deg)) translate(25px) rotate(-270deg);
    opacity: 1;
  }
  80% {
    transform: rotate(calc(720deg - 2 * 72deg)) translate(50px) rotate(-180deg);
  }
  70% {
    transform: rotate(calc(720deg - 3 * 72deg)) translate(75px) rotate(-90deg);
  }
  60% {
    transform: rotate(calc(720deg - 4 * 72deg)) translate(100px) rotate(0deg);
  }
  50% {
    transform: rotate(calc(720deg - 5 * 72deg)) translate(125px) rotate(0deg);
  }
  40% {
    transform: rotate(calc(720deg - 6 * 72deg)) translate(150px) rotate(0deg);
  }
  30% {
    transform: rotate(calc(720deg - 7 * 72deg)) translate(175px) rotate(0deg);
  }
  20% {
    transform: rotate(calc(720deg - 8 * 72deg)) translate(200px) rotate(0deg);
  }
  10% {
    transform: rotate(calc(720deg - 9 * 72deg)) translate(225px) rotate(0deg);
  }
  0% {
    transform: rotate(calc(720deg - 10 * 72deg)) translate(250px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes spiralFromLeft {
  100% {
    transform: rotate(720deg) translate(0) rotate(-360deg);
    opacity: 0;
  }
  90% {
    transform: rotate(calc(720deg - 72deg)) translate(-25px) rotate(-270deg);
    opacity: 1;
  }
  80% {
    transform: rotate(calc(720deg - 2 * 72deg)) translate(-50px) rotate(-180deg);
  }
  70% {
    transform: rotate(calc(720deg - 3 * 72deg)) translate(-75px) rotate(-90deg);
  }
  60% {
    transform: rotate(calc(720deg - 4 * 72deg)) translate(-100px) rotate(0deg);
  }
  50% {
    transform: rotate(calc(720deg - 5 * 72deg)) translate(-125px) rotate(0deg);
  }
  40% {
    transform: rotate(calc(720deg - 6 * 72deg)) translate(-150px) rotate(0deg);
  }
  30% {
    transform: rotate(calc(720deg - 7 * 72deg)) translate(-175px) rotate(0deg);
  }
  20% {
    transform: rotate(calc(720deg - 8 * 72deg)) translate(-200px) rotate(0deg);
  }
  10% {
    transform: rotate(calc(720deg - 9 * 72deg)) translate(-225px) rotate(0deg);
  }
  0% {
    transform: rotate(calc(720deg - 10 * 72deg)) translate(-250px) rotate(0deg);
    opacity: 1;
  }
}
