.board-container {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  perspective: 333px;
  .board {
    transform-style: preserve-3d;
    transition: all 200ms;
    transform: rotateX(0deg) translateY(0px);
    &.rest {
      transform: rotateX(30deg) translateY(-160px);
    }
  }
}

.cell {
  display: flex;
  width: 130px;
  height: 130px;
  border: 1px dashed grey;
  align-items: center;
  ion-card {
    margin: 2px;
  }
}
.card {
  display: flex;
  position: relative;
  margin: auto;
  transition: all 200ms;
  margin-top: 0;
  p {
    text-align: center;
    color: grey;
    span.atk {
      color: red;
    }
  }
  ion-badge {
    z-index: 99;
    margin-top: -7px;
    margin-right: -2px;
  }
  ion-card {
    margin: 2px;
    width: 80px;
    height: 120px;
    transition: all 200ms;
  }
  &.defensive {
    transform: rotateZ(-90deg);
    p {
      span.atk {
        color: inherit;
      }
      span.def {
        color: red;
      }
    }
  }
}
.row {
  display: flex;
  flex-wrap: nowrap;
  &.empty {
    height: 120px;
    width: 80px;
  }
}
.hand {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkgrey;
  > div.hand-card.selected {
    margin-top: -20px;
  }
}
