.cell {
  position: relative;
  display: flex;
  width: 130px;
  height: 130px;
  border: 1px dashed grey;
  align-items: center;
  ion-card {
    margin: 2px;
  }
}

.card {
  display: flex;
  position: relative;
  margin: auto;
  transition: all 200ms;
  margin-top: 0;
  p {
    text-align: center;
    color: grey;
    span.atk {
      color: red;
    }
  }
  ion-badge {
    z-index: 99;
    margin-top: -7px;
    margin-right: -2px;
  }
  ion-card {
    margin: 2px;
    width: 80px;
    height: 120px;
    transition: all 200ms;
  }
  &.defensive {
    transform: rotateZ(-90deg);
    p {
      span.atk {
        color: inherit;
      }
      span.def {
        color: red;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
  &.empty {
    height: 120px;
    width: 80px;
  }
}

.card-stack {
  position: relative;
  .card {
    position: absolute;
  }
  .card:nth-child(1) {
    top: 0px;
    left: 0px;
    z-index: 9;
  }
  .card:nth-child(2) {
    top: -5px;
    left: 5px;
    z-index: 8;
  }
  .card:nth-child(3) {
    top: -10px;
    left: 10px;
    z-index: 7;
  }
  .card:nth-child(4) {
    top: -15px;
    left: 15px;
    z-index: 6;
  }
  .card:nth-child(5) {
    top: -20px;
    left: 20px;
    z-index: 5;
  }
  .card:nth-child(6) {
    top: -25px;
    left: 25px;
    z-index: 4;
  }
}

.card-fusion {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .card {
    position: absolute;
    top: 50vh;
  }
  .card:nth-child(1) {
    left: 50%;
    animation-delay: 0s;
    animation: spiralFromLeft 2s linear infinite;
  }
  .card:nth-child(2) {
    right: 50%;
    animation-delay: 1s;
    animation: spiralFromRight 2s linear infinite;
  }
}

@keyframes spiralFromRight {
  100% {
    transform: rotate(720deg) translate(0) rotate(-360deg);
  }
  90% {
    transform: rotate(calc(720deg - 72deg)) translate(25px) rotate(-270deg);
  }
  80% {
    transform: rotate(calc(720deg - 2 * 72deg)) translate(50px) rotate(-180deg);
  }
  70% {
    transform: rotate(calc(720deg - 3 * 72deg)) translate(75px) rotate(-90deg);
  }
  60% {
    transform: rotate(calc(720deg - 4 * 72deg)) translate(100px) rotate(0deg);
  }
  50% {
    transform: rotate(calc(720deg - 5 * 72deg)) translate(125px) rotate(0deg);
  }
  40% {
    transform: rotate(calc(720deg - 6 * 72deg)) translate(150px) rotate(0deg);
  }
  30% {
    transform: rotate(calc(720deg - 7 * 72deg)) translate(175px) rotate(0deg);
  }
  20% {
    transform: rotate(calc(720deg - 8 * 72deg)) translate(200px) rotate(0deg);
  }
  10% {
    transform: rotate(calc(720deg - 9 * 72deg)) translate(225px) rotate(0deg);
  }
  0% {
    transform: rotate(calc(720deg - 10 * 72deg)) translate(250px) rotate(0deg);
  }
}

@keyframes spiralFromLeft {
  100% {
    transform: rotate(720deg) translate(0) rotate(-360deg);
  }
  90% {
    transform: rotate(calc(720deg - 72deg)) translate(-25px) rotate(-270deg);
  }
  80% {
    transform: rotate(calc(720deg - 2 * 72deg)) translate(-50px) rotate(-180deg);
  }
  70% {
    transform: rotate(calc(720deg - 3 * 72deg)) translate(-75px) rotate(-90deg);
  }
  60% {
    transform: rotate(calc(720deg - 4 * 72deg)) translate(-100px) rotate(0deg);
  }
  50% {
    transform: rotate(calc(720deg - 5 * 72deg)) translate(-125px) rotate(0deg);
  }
  40% {
    transform: rotate(calc(720deg - 6 * 72deg)) translate(-150px) rotate(0deg);
  }
  30% {
    transform: rotate(calc(720deg - 7 * 72deg)) translate(-175px) rotate(0deg);
  }
  20% {
    transform: rotate(calc(720deg - 8 * 72deg)) translate(-200px) rotate(0deg);
  }
  10% {
    transform: rotate(calc(720deg - 9 * 72deg)) translate(-225px) rotate(0deg);
  }
  0% {
    transform: rotate(calc(720deg - 10 * 72deg)) translate(-250px) rotate(0deg);
  }
}
