.board-container {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  perspective: 333px;
  .board {
    transform-style: preserve-3d;
    transition: all 200ms;
    transform: rotateX(0deg) translateY(0px);
    @media (width<800px) {
      transform: rotateX(0deg) translateZ(-190px);
    }
    .their-row {
      .dueling-card {
        transform: rotateZ(180deg);
      }
    }

    .cell {
      position: relative;
      display: flex;
      width: 130px;
      height: 130px;
      border: 1px dashed grey;
      align-items: center;
      ion-card {
        margin: 2px;
      }
    }

    .row {
      display: flex;
      flex-wrap: nowrap;
      &.empty {
        height: 120px;
        width: 80px;
      }
    }
  }
}
.Drawing,
.PresentingHand,
.Fusion,
.FusionQueue {
  .board {
    transform: rotateX(30deg) translateY(-160px);
    @media (width<800px) {
      transform: rotateX(30deg) translateY(-160px) translateZ(-190px);
    }
  }
}
