.battle-visualizer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .card {
    position: absolute;
    top: 50vh;
    opacity: 0;
  }
  &.presenting {
    .card:nth-child(1) {
      left: 20%;
      animation: zoomInUp 1s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation: zoomInUp 1s linear;
      opacity: 1;
    }
  }
  &.damage1 {
    .card:nth-child(1) {
      left: 20%;
      animation-delay: 0s;
      animation: flash 2s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation-delay: 1s;
      animation: tada 2s linear;
      opacity: 1;
    }
  }
  &.damage2 {
    .card:nth-child(1) {
      left: 20%;
      animation-delay: 0s;
      animation: tada 2s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation-delay: 1s;
      animation: flash 2s linear;
      opacity: 1;
    }
  }
  &.damage-both {
    .card:nth-child(1) {
      left: 20%;
      animation-delay: 0s;
      animation: flash 2s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation-delay: 1s;
      animation: flash 2s linear;
      opacity: 1;
    }
  }
  &.dead1 {
    .card:nth-child(1) {
      left: 20%;
      animation-delay: 0s;
      animation: bounceOutLeft 2s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation-delay: 1s;
      animation: tada 2s linear;
      opacity: 1;
    }
  }
  &.dead2 {
    .card:nth-child(1) {
      left: 20%;
      animation-delay: 0s;
      animation: tada 2s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation-delay: 1s;
      animation: bounceOutRight 2s linear;
      opacity: 1;
    }
  }
  &.dead-both {
    .card:nth-child(1) {
      left: 20%;
      animation-delay: 0s;
      animation: bounceOutLeft 2s linear;
      opacity: 1;
    }
    .card:nth-child(2) {
      right: 20%;
      animation-delay: 1s;
      animation: bounceOutRight 2s linear;
      opacity: 1;
    }
  }
}
