.fusion-preview {
  /* position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; */

  .card {
    position: absolute;
    top: 20vh;
    left: 45vw;
    ion-card {
      scale: 2;
    }
  }
}
