.battle-visualizer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);

  .card-info,
  .effect {
    scale: 2;
  }
  .card1,
  .card2 {
    position: absolute;
    top: 50%;
    opacity: 0;
    /* transform: translateY(-50%) translateX(-50%) scale(2); */
  }
  .slash,
  .explosion1,
  .explosion2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: none;
    /* transform: translateY(-50%) translateX(-50%) scale(2); */
  }
  &.battle-visualizer--intro {
    .card1 {
      left: 20%;
      animation: zoomInUp 1s linear;
      opacity: 1;
    }
    .card2 {
      right: 20%;
      animation: zoomInUp 1s linear;
      opacity: 1;
    }
  }
  &.battle-visualizer--damage1 {
    .card1 {
      left: 20%;
      animation: flash 2s linear;
      opacity: 1;
    }
    .card2 {
      right: 20%;
      animation: tada 2s linear;
      opacity: 1;
    }
    .slash {
      display: block;
      left: 20%;
    }
  }
  &.battle-visualizer--damage2 {
    .card1 {
      left: 20%;
      animation: tada 2s linear;
      opacity: 1;
    }
    .card2 {
      right: 20%;
      animation: flash 2s linear;
      opacity: 1;
    }
    .slash {
      display: block;
      left: unset;
      right: 20%;
    }
  }
  &.battle-visualizer--damage-both {
    .card1 {
      left: 20%;
      animation: flash 2s linear;
      opacity: 1;
    }
    .card2 {
      right: 20%;
      animation: flash 2s linear;
      opacity: 1;
    }
    .slash {
      display: block;
    }
  }
  &.battle-visualizer--dead1 {
    .card1 {
      opacity: 0;
    }
    .card2 {
      right: 20%;
      animation: tada 2s linear;
      opacity: 1;
    }
    .explosion1 {
      left: 20%;
      display: block;
    }
  }
  &.battle-visualizer--dead2 {
    .card1 {
      left: 20%;
      animation: tada 2s linear;
      opacity: 1;
    }
    .card2 {
      opacity: 0;
    }
    .explosion1 {
      left: unset;
      right: 20%;
      display: block;
    }
  }
  &.battle-visualizer--dead-both {
    .card1 {
      opacity: 0;
    }
    .card2 {
      opacity: 0;
    }
    .explosion1 {
      left: 20%;
      display: block;
    }
    .explosion2 {
      right: 20%;
      left: unset;
      display: block;
    }
  }
  &.battle-visualizer--end {
    .card1 {
      left: 20%;
      opacity: 0;
    }
    .card2 {
      right: 20%;
      opacity: 0;
    }
  }
}
