.battle-visualizer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);

  .card-info,
  .effect {
    scale: 2;
  }
  .card1,
  .card2,
  .slash,
  .explosion1,
  .explosion2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .card1,
  .card2 {
    opacity: 0;
  }
  .slash,
  .explosion1,
  .explosion2 {
    z-index: 999;
    display: none;
  }
  &.battle-visualizer--intro {
    .card1 {
      left: 20%;
      opacity: 1;
      .card-info {
        animation: zoomInUp 1s linear;
      }
    }
    .card2 {
      left: 80%;
      opacity: 1;
      .card-info {
        animation: zoomInUp 1s linear;
      }
    }
  }
  &.battle-visualizer--damage1 {
    .card1,
    .slash {
      left: 20%;
      opacity: 1;
      display: block;
      .card-info {
        animation: flash 2s linear;
      }
    }
    .card2 {
      left: 80%;
      opacity: 1;
      .card-info {
        animation: tada 2s linear;
      }
    }
  }
  &.battle-visualizer--damage2 {
    .card1 {
      left: 20%;
      opacity: 1;
      .card-info {
        animation: tada 2s linear;
      }
    }
    .card2,
    .slash {
      left: 80%;
      display: block;
      opacity: 1;
      .card-info {
        animation: flash 2s linear;
      }
    }
  }
  &.battle-visualizer--damage-both {
    .card1 {
      left: 20%;
      opacity: 1;
      .card-info {
        animation: flash 2s linear;
      }
    }
    .card2 {
      left: 80%;
      .card-info {
        animation: flash 2s linear;
      }
      opacity: 1;
    }
    .slash {
      display: block;
      left: 50%;
    }
  }
  &.battle-visualizer--dead1 {
    .card1 {
      opacity: 0;
    }
    .card2 {
      left: 80%;
      .card-info {
        animation: tada 2s linear;
      }
      opacity: 1;
    }
    .explosion1 {
      left: 20%;
      display: block;
    }
  }
  &.battle-visualizer--dead2 {
    .card1 {
      left: 20%;
      .card-info {
        animation: tada 2s linear;
      }
      opacity: 1;
    }
    .card2 {
      opacity: 0;
    }
    .explosion1 {
      left: unset;
      left: 80%;
      display: block;
    }
  }
  &.battle-visualizer--dead-both {
    .card1 {
      opacity: 0;
    }
    .card2 {
      opacity: 0;
    }
    .explosion1 {
      left: 20%;
      display: block;
    }
    .explosion2 {
      left: 80%;
      display: block;
    }
  }
  &.battle-visualizer--end {
    .card1 {
      left: 20%;
      opacity: 0;
    }
    .card2 {
      left: 80%;
      opacity: 0;
    }
  }
}
