.card-info {
  margin: 2px;
  width: 80px;
  height: auto;
  aspect-ratio: 2 / 3;
  transition: all 200ms;

  > ion-img {
    max-height: 80px;
    min-height: 80px;
  }
  p.title {
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
    line-height: 1rem;
  }
  p.title.long {
    font-size: 80%;
  }
  p.power {
    margin-top: 0.3em;
    text-align: center;
    color: grey;
    span.atk {
      color: red;
    }
  }
  &.defensive p.power {
    span.atk {
      color: inherit;
    }
    span.def {
      color: red;
    }
  }

  .card-types {
    position: absolute;
    top: 0;
    left: 0;
  }
}
