.beast-card {
  margin: 2px;
  width: 7rem;
  height: auto;
  aspect-ratio: 2 / 3;
  transition: all 200ms;

  > ion-img {
    max-height: 7rem;
    min-height: 7rem;
  }
  .beast-name {
    line-height: 2rem;
  }
  .card-types {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3rem;
  }
  .beast-level {
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem;
    font-weight: bold;
    color: gold;
  }
}
.size-sm {
  .beast-card {
    width: 4rem;
    > ion-img {
      max-height: 4rem;
      min-height: 4rem;
    }
    .beast-name {
      line-height: 1rem;
      font-size: 70%;
    }
    .beast-level {
      font-size: 70%;
    }
  }
}
